<div class="col-md-10">
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-7">
                <div class="col-md-2">
                    <br>
                    <img src="https://cdn.countryflags.com/thumbs/india/flag-400.png"
                    style="width: 100px; height: 50px; border-radius: 5px;">
                </div>
                <div class="col-md-5">
                    <h2 >{{match.india}} v/s {{match.country}}</h2>
                </div>
                <div class="col-md-2">
                    <br>
                    <img src={{match.countryFlag}}
                    style="width: 100px; height: 50px; border-radius: 5px;">
                </div>
            </div>

        </div>

        <div class="col-md-8">
            <h3>{{match.matchType}}</h3>
            <h4>{{match.date}}</h4>
            <h4>{{match.day}}</h4>
            <h4>{{match.place}}</h4>
         </div>

    </div>

    
    

</div>
