
 <div>
  <img class="img"
  src="https://i.pinimg.com/originals/0f/be/1b/0fbe1b8ad233be03fbc768572756ee83.jpg">
</div>

<div class="container">
  <h2 style="text-align: center;">The Indian National Cricket Team</h2>
  <hr>
  <div class="detail">
    <p>
      The India men's national cricket team, also known as Team India and Men in Blue,
      is governed by the Board of Control for Cricket in India (BCCI), and is a Full Member
      of the International Cricket Council (ICC) with Test, One-Day International (ODI) and
      Twenty20 International (T20I) status.
      <br>
      Cricket was introduced to India by European merchant sailors in the 18th century, and
      the first cricket club was established in 1792. India's national cricket team did not 
      play its first Test match until 25 June 1932 at Lord's, becoming the sixth team to be
      granted test cricket status. From 1932 India had to wait until 1952, almost 20 years
      for its first Test victory. In its first fifty years of international cricket, India
      was one of the weaker teams, winning only 35 of the first 196 Test matches it played.
      The team, however, gained strength in the 1970s with the emergence of players such as
      batsmen Gavaskar, Viswanath, Kapil Dev, and the Indian spin quartet.
    </p>
    <br>

    <h3 style="text-align: center;">History</h3>
    <hr width="50%">
    <p>The British brought cricket to India in the early 1700s, with the first cricket match played in
     1721. In 1848, the Parsi community in Bombay formed the Oriental Cricket Club, the first cricket 
     club to be established by Indians. After slow beginnings, the Europeans eventually invited the Parsis 
     to play a match in 1877. By 1912, the Parsis, Sikhs, Hindus and Muslims of Bombay played a 
     quadrangular tournament with the Europeans every year. In the early 1900s, some Indians went on 
     to play for the England cricket team. Some of these, such as Ranjitsinhji and KS Duleepsinhji were 
     greatly appreciated by the British and their names went on to be used for the Ranji Trophy and Duleep 
     Trophy – two major first-class tournaments in India. In 1911, an Indian team went on their first 
     official tour of the British Isles, but only played English county teams and not the England cricket 
     team.
     <br>
     The addition of Sachin Tendulkar and Anil Kumble to the national side in 1989 and 1990 further 
     improved the team. The following year, Javagal Srinath, India's fastest bowler since Amar Singh 
     made his debut. Despite this, during the 1990s, India did not win any of its 33 Tests outside the 
     subcontinent while it won 17 out of its 30 Tests at home. After being eliminated by neighbours Sri 
     Lanka on home soil at the 1996 Cricket World Cup semifinal, the team underwent a year of change as 
     Sourav Ganguly and Rahul Dravid, later to become captains of the team, made their debut in the same 
     Test at Lord's. Tendulkar replaced Azharuddin as captain in late 1996, but after a personal and team 
     form slump, Tendulkar relinquished the captaincy and Azharuddin was reinstated at the beginning of 
     1998. With the captaincy burden removed, Tendulkar was the world's leading run-scorer in both Tests 
     and ODIs, as India enjoyed a home Test series win over Australia, the best-ranked team in the world.
    </p>
    
    <br>

    <h3 style="text-align: center;">Governing Body</h3>
    <hr width="50%">
    <p>
      The Board of Control for Cricket in India (BCCI) is the governing body for the Indian cricket 
      team and first-class cricket in India. The Board has been operating since 1929 and represents 
      India at the International Cricket Council. It is amongst the richest sporting organisations in 
      the world. It sold media rights for India's matches from 2006–2010 for US$612,000,000. It manages 
      the Indian team's sponsorships, its future tours and team selection.The International Cricket 
      Council determines India's upcoming matches through its future tours program. However, the BCCI, 
      with its influential financial position in the cricketing world, has often challenged the ICC's 
      program and called for more series between India, Australia and England which are more likely to 
      earn more revenue as opposed to tours with Bangladesh or Zimbabwe.[45] In the past, the BCCI has 
      also come into conflict with the ICC regarding sponsorships[46] and the legitimacy of the ICC 
      Champions Trophy.
    </p>
    <br>
    <h3 style="text-align: center;">Selection Comitte</h3>
    <hr width="50%">
    <p>
      Selection for the Indian cricket team occurs through the BCCI's zonal selection policy, where 
      each of the five zones is represented with one selector and one of the members nominated by BCCI
       as the Chairman of the selection committee. This has sometimes led to controversy as to whether 
       these selectors are biased towards their zones.The current chairman of the selection committee 
       is Sunil Joshi. Devang Gandhi, Sarandeep Singh, Jatin Paranjpe, and Harvinder Singh are the other
        members of the selection committee from 4 March 2020.[48]
    </p>
    <br>
    <h3 style="text-align: center;">Captains</h3>
    <hr width="50%">
    <p>
      Thirty-three men have captained the Indian cricket team in at least one Test match, although only 
      six have led the team in more than 25 matches, and six have captained the team in ODIs but not Tests.
      India's first captain was CK Nayudu, who led the team in four matches against England: one in England
      in 1932 and a series of three matches at home in 1933–34. Lala Amarnath, India's fourth captain, led
      the team in its first Test match after Indian independence. He also captained the side to its first
      Test victory and first series win, both in a three-match series at home against Pakistan in 1952–53.
      From 1952 until 1961–62, India had a number of captains such as Vijay Hazare, Polly Umrigar and Nari 
      Contractor.      
    </p>
    <br>

    <div class="container-1">

      <div class="col-xs-3">
        <div class="card"  style="width: 18rem;">
          <div class=".card-img-top">
            <img src="https://m.media-amazon.com/images/M/MV5BZGFiYzM3NmItZjljNS00M2FkLWJiNmQtYzJjNDJmMWNmZjdjXkEyXkFqcGdeQXVyNDAzNDk0MTQ@._V1_UY317_CR36,0,214,317_AL__QL50.jpg"
            alt="Sunil Gawaskar"  style="border-radius: 100px; width: 180px; height: 190px;">
          </div>
          <div class="card-body">
            <h5>Sunil Gawaskar</h5>
            <p>1982-1987</p>
  
          </div>
  
        </div>
      </div>

    <div class="col-xs-3">
      <div class="card"  style="width: 18rem;">
        <div class=".card-img-top">
          <img src="https://m.cricbuzz.com/a/img/v1/192x192/i1/c180125/kapil-dev.jpg"
          alt="Kapil dev"  style="border-radius: 90px;"
          >
        </div>
        <div class="card-body">
          <h5 class="card-title">Kapil Dev</h5>
          <p>1982-1987</p>

        </div>

      </div>
    </div>

    <div class="col-xs-3">
      <div class="card"  style="width: 18rem;">
        <div class=".card-img-top">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ18lJkG3YjKJzmXT1pzxGLskxlO49vYzqO0usb9ZnXs-Z-UOmD&usqp=CAU"
          alt="MS Dhoni"  style="border-radius: 100px; width: 180px; height: 180px;">
        </div>
        <div class="card-body">
          <h5>MS Dhoni</h5>
          <p>1982-1987</p>

        </div>

      </div>
    </div>

    <div class="col-xs-3">
      <div class="card"  style="width: 18rem;">
        <div class=".card-img-top">
          <img src="https://img.latestgkgs.com/2018/09/21/-1537536337.jpg"
           alt="Virat Kohli"
          style="border-radius: 100px; width: 180px; height: 180px;">
        </div>
        <div class="card-body">
          <h5>Virat Kohli</h5>
          <p>1982-Till Date</p>

        </div>

      </div>
    </div>

  </div>
    <br>
  <p style="text-align: center;">Some of our best Captions</p>

  <br>
  <br>
  <h3 style="text-align: center;">Fan Following</h3>
  <hr width="50%">
  <p>
    Due to the massive Indian diaspora in nations like Australia, England and South Africa, a large 
    Indian fan turnout is expected whenever India plays in each of these nations.There have been a 
    number of official fan groups that have been formed over the years, including the Swami Army or
     Bharat Army,[130] the Indian equivalent of the Barmy Army, that were very active in their support 
     when India toured Australia in 2003/2004. They are known to attribute a number of popular Indian 
     songs to the cricket team.Fan rivalry and cross-border tension has created a strong rivalry between 
     the Indian and the Pakistani cricket teams. In tours between these two nations, cricket visas are 
     often employed to accommodate for the tens of thousands of fans wishing to cross the border to watch 
     cricket. This intense fan dedication is one of the major causes of the BCCI's financial success.
  </p>
</div>
</div>
<br>
<hr>
<br>
<div>
  <div class="card text-center" style="bottom: 0px;">
    <div class="card-header">
      Thank You
    </div>
    <div class="card-body">
      <h5 class="card-title">Wisit Again..</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer text-muted">
     
    </div>
  </div>
</div>
